<template>
  <div>
    <ContactForm
      v-model="contact"
      @cancel="() => $router.push('/')"
      @save="handleSave"
    />
  </div>
</template>

<script>
export default {
  data () {
    return {
      contact: {}
    }
  },
  mounted () {
    const { uid } = this.$route.params
    const contact = this.$store.state.contacts.filter(contact => contact.uid === uid)[0]

    if (contact) {
      this.contact = { ...contact }
      return
    }

    this.$router.push('/')
  },
  methods: {
    handleSave () {
      const { uid } = this.$route.params
      this.$store.dispatch('contacts/editByUID', { uid, contact: this.contact })
      this.$router.push('/')
    }
  }
}
</script>
