<template>
  <span
    :style="style"
    :class="$style.avatar"
  >
    {{ letter }}
  </span>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    }
  },
  computed: {
    letter () {
      return this.name[0]?.trim().toUpperCase()
    },
    style () {
      const getColorByLetter = (letter) => {
        const alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
        const alphabetIndex = alphabet.indexOf(letter)
        const colors = new Array(4)
          .fill(['#fa8d68', 'var(--pale-olive-green)', 'var(--sky-blue)', '#fab668', '#8368fa', '#fa68b5', '#5fe2c4', '#f55a5a'])
          .flat()
          .filter((_, index) => index < 26)

        if (colors[alphabetIndex]) { return colors[alphabetIndex] }

        return colors[0]
      }

      const style = { backgroundColor: getColorByLetter(this.letter) }

      return style
    }
  }
}
</script>

<style lang="scss" module>
.avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 16px;
  text-align: center;
  color: var(--white-two);
  border-radius: 100%;
  line-height: 24px;
}
</style>
