<template>
  <nuxt-link to="/new">
    <button :class="$style.button" tabindex="-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path fill-rule="nonzero" d="M16 7.238H8.762V0H7.238v7.238H0v1.524h7.238V16h1.524V8.762H16z"/>
      </svg>
      Criar contato
    </button>
  </nuxt-link>
</template>

<script>
export default {

}
</script>

<style lang="scss" module>
.button {
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(255, 255, 255, 0.16);
  background-color: var(--light-yellowish-green);
  font-size: 14px;
  font-weight: 500;
  color: var(--salmon);
  padding: 12px 22px 12px 16px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  svg {
    fill: var(--salmon);
    transform: translateY(3px);
    margin-right: 8px;
  }
}
</style>
