<template>
  <button
    :class="$style.button"
    v-bind="$attrs"
  >
    <slot />
  </button>
</template>

<script>
export default {

}
</script>

<style lang="scss" module>
.button {
  cursor: pointer;
  border-radius: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px rgba(255, 255, 255, 0.16);
  background-color: var(--salmon);
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white-two);

  &:hover {
    opacity: .8;
  }

  &[disabled="disabled"] {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(255, 255, 255, 0.16);
    background-color: var(--salmon);
    opacity: 0.32;
    cursor: initial;
  }
}
</style>
