<template>
  <button :class="$style.button">
    <slot />
  </button>
</template>

<script>
export default {

}
</script>

<style lang="scss" module>
.button {
  font-size: 14px;
  font-weight: 500;
  color: var(--salmon);
  border: 0;
  background: none;
  cursor: pointer;
}
</style>
