<template>
  <Modal :title="title">
    <div :class="$style.form">
      <div :class="$style.group">
        <label>Nome</label>
        <input ref="name" v-model="value.name" type="text">
      </div>

      <div :class="$style.group">
        <label>E-mail</label>
        <input v-model="value.email" type="email">
      </div>

      <div :class="$style.group">
        <label>Telefone</label>
        <input v-model="value.phone" type="tel">
      </div>
    </div>

    <template slot="footer">
      <ButtonGhost @click.native="$emit('cancel')">
        Cancelar
      </ButtonGhost>

      <Button
        :disabled="!isDirty"
        @click.native="$emit('save')"
      >
        Salvar
      </Button>
    </template>
  </Modal>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Editar contato'
    },
    value: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    isDirty () {
      return Object.keys(this.value).length > 0 && (this.value.name !== '' || this.value.email !== '' || this.value.phone !== '')
    }
  },
  mounted () {
    this.$refs.name.focus()
  }
}
</script>

<style lang="scss" module>
.form {
  label {
    display: block;
    font-size: 14px;
    color: var(--dark);
  }

  input {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: solid 1px var(--cloudy-blue);
    background-color: var(--white-two);
    margin: 4px 0 16px 0;

    &[type="tel"] {
      width: 40%;
    }
  }
}
</style>
