<template>
  <div :class="$style.container">
    <input
      v-model="query"
      :class="$style.search"
      type="search"
      placeholder="Buscar...">
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  watch: {
    query (q) {
      this.$emit('input', q)
    },
    value (val) {
      this.query = val
    }
  },
  data () {
    return {
      query: this.value
    }
  }
}
</script>

<style lang="scss" module>
.container {
  display: inline-block;
}

.search {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  background-color: var(--pale-lilac);
  padding: 0 8px;
  border: 0;
  font-size: 16px;
  color: var(--bluey-grey);
}
</style>
