<template>
  <div :class="$style.backdrop">
    <div :class="$style.modal">
      <header>
        {{ title }}
      </header>

      <div :class="$style.body">
        <slot />
      </div>

      <footer>
        <slot name="footer" />
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" module>
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 432px;
  border-radius: 16px;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white-two);
  padding: 16px 24px;

  header {
    font-size: 16px;
    color: var(--dark);
    border-bottom: solid 1px var(--cloudy-blue);
    padding-bottom: 12px;
    margin-bottom: 20px;
  }

  footer {
    border-top: solid 1px var(--cloudy-blue);
    padding-top: 15px;
    text-align: right;
  }
}

.body {
  min-height: 100px;
}
</style>
