<template>
  <div>
    <header :class="$style.header">
      <nuxt-link to="/">
        <img src="~assets/ic-logo.svg" :class="$style.logo" alt="Ubook" title="Ubook">
      </nuxt-link>

      <div :class="$style.bar">
        <ButtonCreate
          v-if="$store.state.contacts.length"
          :class="$style.buttonCreate"
        />

        <InputSearch
          :value="$route.query.s"
          @input="handleSearch"
        />
      </div>
    </header>

    <div
      v-if="$store.state.contacts.length === 0"
      :class="$style.empty"
    >
      <img src="~assets/ic-book.svg" alt="Livro em branco" title="Livro em branco">
      <h1>Nenhum contato foi criado ainda.</h1>
      <ButtonCreate />
    </div>

    <div
      v-if="$store.state.contacts.length > 0"
      :class="$style.table"
    >
      <table>
        <thead>
          <tr>
            <th style="width: 40px;" />
            <th>Contatos</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="contact in contacts"
            :key="contact.uid"
            :class="{[$style.active]: contact.uid === contactUidActive}"
          >
            <td style="text-align: center;">
              <Avatar :name="contact.name" />
            </td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>
              <button
                :class="$style.action"
                @click="handleEdit(contact)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="#9198AF" fill-rule="nonzero">
                    <path d="M.15 14.838l-.143.596a.283.283 0 0 0-.006.057L0 15.503a.284.284 0 0 0 .027.115c.014.03.032.06.056.084a.288.288 0 0 0 .268.076l.596-.142-.798-.798zM15.034.752a2.575 2.575 0 0 0-3.637 0L1.093 11.055l-.012.016-.016.022a.278.278 0 0 0-.036.068l-.008.022-.004.008-.712 2.994L1.6 15.481l2.994-.713c.008-.002.015-.006.022-.009a.264.264 0 0 0 .086-.046l.02-.016.008-.005L15.034 4.388a2.574 2.574 0 0 0 0-3.636zM4.902 13.712l.101-.91 6.394-6.393a.285.285 0 1 0-.404-.404l-6.394 6.394-1.364.151.152-1.364L9.78 4.793a.285.285 0 1 0-.404-.404l-6.394 6.393-.91.101 7.91-7.909 2.828 2.829-7.909 7.909zm8.313-8.313L10.387 2.57l.404-.404 2.828 2.829-.404.404zm.808-.808l-2.828-2.829.404-.404 2.829 2.828-.405.405z" />
                  </g>
                </svg>
              </button>
              <button
                :class="$style.action"
                @click="handleRemove(contact)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="#9198AF" fill-rule="nonzero">
                    <path d="M13.881 1.627h-3.808c-.03-.339-.134-.91-.492-1.277A1.147 1.147 0 0 0 8.73 0H6.017c-.34 0-.626.118-.853.35-.357.366-.461.938-.491 1.277H1.407a.271.271 0 1 0 0 .542H13.88a.271.271 0 1 0 0-.542zm-8.663 0c.03-.284.118-.677.336-.9a.614.614 0 0 1 .463-.185h2.712c.19 0 .341.06.463.185.218.223.306.616.336.9h-4.31zM2.48 14.65c.01.467.3 1.35 1.33 1.35h7.668c1.03 0 1.32-.883 1.33-1.345l.497-11.943H1.983L2.48 14.65zm1.91-3.26h6.508a.271.271 0 1 1 0 .542H4.39a.271.271 0 1 1 0-.542zm0 1.356h6.508a.271.271 0 1 1 0 .542H4.39a.271.271 0 1 1 0-.542zm0 1.356h6.508a.271.271 0 1 1 0 .542H4.39a.271.271 0 1 1 0-.542z" />
                  </g>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <Modal
      v-if="removeModal.isVisible"
      title="Excluir contato"
    >
      Deseja realmente excluir o contato?

      <template slot="footer">
        <ButtonGhost @click.native="removeModal.handleCancel">
          Cancelar
        </ButtonGhost>

        <Button @click.native="removeModal.handleRemove">
          Excluir
        </Button>
      </template>
    </Modal>

    <Nuxt />
  </div>
</template>

<script>
import Fuse from 'fuse.js'

export default {
  data () {
    return {
      contactUidActive: '',
      fuse: {},
      removeModal: {
        isVisible: false,
        handleCancel: () => {},
        handleRemove: () => {}
      }
    }
  },
  computed: {
    contacts () {
      const { s } = this.$route.query
      const contacts = this.$store.getters['contacts/ordened']

      if (s && this.fuse.search) {
        return this.fuse.search(s).map(({ item }) => item)
      }

      return contacts
    }
  },
  watch: {
    '$route.query.lastContact' (uid) {
      if (uid) {
        this.contactUidActive = uid
        this.$router.replace({})
        window.setTimeout(() => {
          this.contactUidActive = ''
        }, 10000)
      }
    },
    '$store.state.contacts': {
      deep: true,
      handler (contacts) {
        if (this.fuse.setCollection) {
          this.fuse.setCollection(this.$store.getters['contacts/ordened'])
        }
      }
    }
  },
  mounted () {
    if (!this.fuse.search) {
      this.fuse = new Fuse(this.$store.getters['contacts/ordened'], {
        matchAllTokens: true,
        shouldSort: true,
        tokenize: true,
        threshold: 0.1,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: ['name', 'email', 'phone']
      })
    }
  },
  methods: {
    handleSearch (s) {
      if (s) {
        this.$router.replace({
          path: '/',
          query: { s }
        })
        return
      }

      this.$router.replace({
        query: {}
      })
    },
    handleEdit (contact) {
      this.$router.push(`/contact/${contact.uid}`)
    },
    handleRemove (contact) {
      this.removeModal.isVisible = true
      this.removeModal.handleCancel = () => {
        this.removeModal.isVisible = false
      }
      this.removeModal.handleRemove = () => {
        this.$store.commit('contacts/removeByUID', contact.uid)
        this.removeModal.isVisible = false
      }
    }
  }
}
</script>

<style lang="scss" module>
:root {
  --sky-blue: #68a0fa;
  --pale-olive-green: #90d26c;
  --dark: #2a2d3b;
  --bluey-grey: #9198af;
  --cloudy-blue: #c0c3d2;
  --light-yellowish-green: #dbff90;
  --white-two: #ffffff;
  --pale-lilac: #e4e7f4;
  --white: #e1e1e1;
  --very-light-pink: #fff3f2;
  --pale-grey: #f8f9fd;
  --salmon: #fa7268;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: var(--pale-grey);
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;

  .buttonCreate {
    margin-right: 24px;
  }
}

.table {
  margin-top: 16px;
  border: solid 1px var(--white);
  border-radius: 4px;
  overflow: hidden;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    padding: 16px 4px 9px 4px;
    font-weight: 400;
    font-size: 13px;
    color: var(--bluey-grey);
    background-color: var(--white-two);
    text-align: left;
    border-bottom: solid 1px var(--white);
  }

  tr {
    background-color: var(--white-two);

    &:hover,
    &.active {
      background-color: var(--very-light-pink);
    }

    + tr {
      border-top: solid 1px var(--white);
    }
  }

  td {
    border: none;
    padding: 12px 4px;
  }
}

.empty {
  text-align: center;
  padding-top: 96px;

  h1 {
    font-size: 16px;
    font-weight: normal;
    color: var(--dark);
    margin: 24px 0;
  }
}

.action {
  cursor: pointer;
  border: 0;
  background: none;

  + .action {
    margin-left: 24px;
  }
}

.bar {
  display: flex;
  flex-grow: 1;
  align-items: center;

  > div {
    flex-grow: 1;
  }
}

.logo {
  margin-right: 60px;
}
</style>
