<template>
  <div>
    <ContactForm
      v-model="contact"
      title="Criar novo contato"
      @cancel="() => $router.push('/')"
      @save="handleSave"
    />
  </div>
</template>

<script>
export default {
  data () {
    return {
      contact: {
        phone: '',
        email: '',
        name: ''
      }
    }
  },
  methods: {
    async handleSave () {
      const contact = await this.$store.dispatch('contacts/new', this.contact)
      this.$router.replace({
        path: '/',
        query: {
          lastContact: contact.uid
        }
      })
    }
  }
}
</script>
